.title {
    justify-content: center;
    
}

.container{
    display: flex;
    flex-direction: row; 

    width: 90vw;
    height: 5rem;
    background-color: #fff;
    padding: .5rem 1rem;
    margin: 1rem 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.container__name {
    margin: inherit;
    width: 20rem;   
    padding: 2px;
}
    
.container__age {
    margin: inherit;
    padding: 2px;
    
}

.container__gender {
    margin: inherit;
    padding: 2px;
}

.container--pink {
    background-color: #ee90d6;
}

.container--green {
    background-color: #90eec2;
}
// BEM