
<p class="container title">{{title}}</p>
<div class="container">      
    <div class="container__name"> {{userSarvana.name}}</div>
    <div class="container__age">{{userSarvana.age}}</div>
    <div class="container__gender">{{userSarvana.gender}}</div>
    <img src="/assets/image/logo_image.png" alt="logo">
</div>

<div *ngFor="let user of users" class="container"> 
    <div class="container__name"> {{user.name}}</div>
    <div class="container__age">{{user.age}}</div>
    <div class="container__gender">{{user.gender}}</div>
    <img src="/assets/image/logo_image.png" alt="logo">

</div>