<form novalidate (ngSubmit)="submitForm()">
    <div>
        <label for="username">User Name</label>
        <input id="username" name="name" type="text" 
            [(ngModel)]="userdata.loginid"        
        /> 
    </div>    

    <div>
        <label for="pass">Password</label>
        <input id="pass" name="p" type="password" [(ngModel)]="userdata.password"> 
    </div>

    <div>
        <label for="fruits">Landing Page</label>
        <select id="fruits" [(ngModel)]="userdata.fruits" [ngModelOptions]="{standalone: true}">  
            <option value="">Select</option>
            <ng-container *ngFor="let screen of screens; let i=index">
                <option value="{{screen}}">{{screen}} - {{i}}</option>    
            </ng-container>
            
        </select>
        
        <!-- <select id="fruits" [(ngModel)]="userdata.fruits" [ngModelOptions]="{standalone: true}">  
            <option value="">Select</option>
            <option value="apple">Kashmir apple</option>
            <option value="orange">Salem orange</option>
            <option value="mango">Salem mango</option>
        </select> -->
    </div>

    <div>
        <button type="submit" [disabled]="submitButtonState">Login</button>
    </div>
</form>
<button type="submit" [disabled]="submitButtonState">Register</button>
